@font-face {
  font-family: 'some_neat_icons';
  src: url('../font/some_neat_icons.eot?42884571');
  src: url('../font/some_neat_icons.eot?42884571#iefix') format('embedded-opentype'),
       url('../font/some_neat_icons.woff?42884571') format('woff'),
       url('../font/some_neat_icons.ttf?42884571') format('truetype'),
       url('../font/some_neat_icons.svg?42884571#some_neat_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'some_neat_icons';
    src: url('../font/some_neat_icons.svg?42884571#some_neat_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "some_neat_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-infinity:before { content: '\e86c'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-erase:before { content: '\e86d'; } /* '' */
.icon-split:before { content: '\e872'; } /* '' */
.icon-pause:before { content: '\e862'; } /* '' */
.icon-fast-forward:before { content: '\e866'; } /* '' */
.icon-fast-backward:before { content: '\e867'; } /* '' */
.icon-to-end:before { content: '\e864'; } /* '' */
.icon-to-start:before { content: '\e865'; } /* '' */
.icon-hourglass:before { content: '\e85b'; } /* '' */
.icon-stop:before { content: '\e861'; } /* '' */
.icon-play:before { content: '\e860'; } /* '' */
.icon-left-hand:before { content: '\e83b'; } /* '' */
.icon-up-hand:before { content: '\e83c'; } /* '' */
.icon-right-hand:before { content: '\e83a'; } /* '' */
.icon-down-hand:before { content: '\e83d'; } /* '' */
.icon-flag-1:before { content: '\e851'; } /* '' */
.icon-flag:before { content: '\e81b'; } /* '' */
.icon-tools:before { content: '\e858'; } /* '' */
.icon-cog:before { content: '\e82f'; } /* '' */
.icon-attention:before { content: '\e82d'; } /* '' */
.icon-record:before { content: '\e863'; } /* '' */
.icon-cog-alt:before { content: '\e830'; } /* '' */
.icon-scissors:before { content: '\e844'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-pencil-thin:before { content: '\e875'; } /* '' */
.icon-pencil:before { content: '\e822'; } /* '' */
.icon-pencil-alt:before { content: '\e870'; } /* '' */
.icon-pencil-tip:before { content: '\e876'; } /* '' */
.icon-vector-pencil:before { content: '\e87c'; } /* '' */
.icon-feather:before { content: '\e854'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-attention-circled:before { content: '\e82e'; } /* '' */
.icon-redo:before { content: '\e853'; } /* '' */
.icon-cw:before { content: '\e871'; } /* '' */
.icon-arrow-curved:before { content: '\e873'; } /* '' */
.icon-squares:before { content: '\e879'; } /* '' */
.icon-resize-vertical:before { content: '\e834'; } /* '' */
.icon-resize-horizontal:before { content: '\e835'; } /* '' */
.icon-magnet:before { content: '\e884'; } /* '' */
.icon-key:before { content: '\e886'; } /* '' */
.icon-fire:before { content: '\e883'; } /* '' */
.icon-megaphone:before { content: '\e885'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e815'; } /* '' */
.icon-eye-off:before { content: '\e816'; } /* '' */
.icon-tag:before { content: '\e817'; } /* '' */
.icon-tags:before { content: '\e818'; } /* '' */
.icon-undo:before { content: '\e852'; } /* '' */
.icon-comment:before { content: '\e826'; } /* '' */
.icon-chat:before { content: '\e827'; } /* '' */
.icon-address:before { content: '\e855'; } /* '' */
.icon-map:before { content: '\e856'; } /* '' */
.icon-trash:before { content: '\e857'; } /* '' */
.icon-share:before { content: '\e859'; } /* '' */
.icon-resize-diagonal:before { content: '\e832'; } /* '' */
.icon-down-open-mini:before { content: '\e85c'; } /* '' */
.icon-left-open-mini:before { content: '\e85d'; } /* '' */
.icon-right-open-mini:before { content: '\e85e'; } /* '' */
.icon-up-open-mini:before { content: '\e85f'; } /* '' */
.icon-cursor:before { content: '\e874'; } /* '' */
.icon-brush:before { content: '\e86b'; } /* '' */
.icon-paper-plane:before { content: '\e869'; } /* '' */
.icon-terminal:before { content: '\e889'; } /* '' */
.icon-palette:before { content: '\e87d'; } /* '' */
.icon-embassy:before { content: '\e87e'; } /* '' */
.icon-garden:before { content: '\e87f'; } /* '' */
.icon-prison:before { content: '\e880'; } /* '' */
.icon-spinner:before { content: '\e800'; } /* '' */
.icon-tree-1:before { content: '\e881'; } /* '' */
.icon-tree-2:before { content: '\e882'; } /* '' */
.icon-crown:before { content: '\e801'; } /* '' */
.icon-crown-plus:before { content: '\e802'; } /* '' */
.icon-crown-minus:before { content: '\e803'; } /* '' */
.icon-marquee:before { content: '\e804'; } /* '' */
.icon-ruler:before { content: '\e87a'; } /* '' */
.icon-vector:before { content: '\e87b'; } /* '' */
.icon-bookmark-empty:before { content: '\e81a'; } /* '' */
.icon-resize-full-alt:before { content: '\e833'; } /* '' */
.icon-blank:before { content: '\e84e'; } /* '' */
.icon-magic:before { content: '\e849'; } /* '' */
.icon-comment-empty:before { content: '\e828'; } /* '' */
.icon-chat-empty:before { content: '\e829'; } /* '' */
.icon-sitemap:before { content: '\e84a'; } /* '' */
.icon-bell-alt:before { content: '\e82b'; } /* '' */
.icon-plus-squared:before { content: '\e80a'; } /* '' */
.icon-angle-left:before { content: '\e836'; } /* '' */
.icon-angle-right:before { content: '\e837'; } /* '' */
.icon-angle-up:before { content: '\e838'; } /* '' */
.icon-angle-down:before { content: '\e839'; } /* '' */
.icon-gamepad:before { content: '\e825'; } /* '' */
.icon-keyboard:before { content: '\e824'; } /* '' */
.icon-flag-empty:before { content: '\e81c'; } /* '' */
.icon-flag-checkered:before { content: '\e81d'; } /* '' */
.icon-terminal-empty:before { content: '\e84b'; } /* '' */
.icon-crop:before { content: '\e843'; } /* '' */
.icon-unlink:before { content: '\e812'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-attention-alt:before { content: '\e82c'; } /* '' */
.icon-eraser:before { content: '\e84c'; } /* '' */
.icon-extinguisher:before { content: '\e84d'; } /* '' */
.icon-rocket:before { content: '\e847'; } /* '' */
.icon-minus-squared:before { content: '\e80b'; } /* '' */
.icon-level-up:before { content: '\e83e'; } /* '' */
.icon-level-down:before { content: '\e83f'; } /* '' */
.icon-ok-squared:before { content: '\e809'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e820'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e821'; } /* '' */
.icon-bug:before { content: '\e848'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e841'; } /* '' */
.icon-leaf-small:before { content: '\e86a'; } /* '' */
.icon-leaf:before { content: '\e842'; } /* '' */
.icon-target:before { content: '\e888'; } /* '' */
.icon-target-small:before { content: '\e840'; } /* '' */
.icon-trophy:before { content: '\e868'; } /* '' */
.icon-thumbs-up:before { content: '\e81e'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-water:before { content: '\e86e'; } /* '' */
.icon-floppy:before { content: '\e86f'; } /* '' */
.icon-floppy-empty:before { content: '\e846'; } /* '' */
.icon-chart:before { content: '\e878'; } /* '' */
.icon-bookmarks:before { content: '\e850'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e82a'; } /* '' */
.icon-bookmark:before { content: '\e819'; } /* '' */
.icon-bookmarked:before { content: '\e84f'; } /* '' */
.icon-link:before { content: '\e811'; } /* '' */
.icon-fire-underlined:before { content: '\e845'; } /* '' */
.icon-wrench:before { content: '\e831'; } /* '' */
.icon-clock-alt:before { content: '\e877'; } /* '' */
.icon-clock:before { content: '\e85a'; } /* '' */
.icon-clock-1:before { content: '\e887'; } /* '' */